@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Changa', sans-serif;
}

body {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.img {
    display: flex;
}

.img img {
    margin: 40px auto;
    width: 20rem;
}

.buscador {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscador input {
    padding: 0 10px;
    width: 40rem;
    height: 44px;
    border-radius: 0 10px 10px 0;
    border: none;
    opacity: 0.9;
    outline: none;
    font-size: 1rem;
    font-family: 'Changa', sans-serif;
}

.botonV {
    display: flex;
    width: 44px;
    background: #383838;
    border-radius: 10px 0 0 10px;
}

.botonV img {
    width: 100%;    
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.conteiner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin-top: 300px;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contRasult {
    display: flex;
}

.result {
    background: white;
    width: 41rem;
    opacity: 0.9;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    display: none;
}

.result li{
    color: black;
    list-style: none;
    margin: 0;
    font-family: 'Changa', sans-serif;
    padding: 0 10px;
}

.result li a {
    outline:none;
    width: 100%;
}
.result li a:hover{
    outline:none;
    color: white;
    cursor: pointer
}

.result li:hover{
    background-color: #383838;
    color: white;
    cursor: pointer
}

.Agentes {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.cont {
    display: flex;
    width: 100%;
    background-color:white;
    margin: 2rem;
}

.titulo {    display: flex;

    width: 95%;
    color: white;
    margin-left: 40px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    align-items: center;
    flex-direction: column;
}

.titulo img{
    width: 40px;
    height: 40px;
    padding: 10px 10px 0 10px;
}

.nombreA{
    display: flex;
}

.description{
    width: 25%;
}


@media only screen and (max-width: 700px) {
    .botonV {
        display: none;
    }

    .buscador {
        margin: 0 2rem;
    }

    .buscador input {
        padding: 0 10px;
        border-radius: 0;
    }
    .contRasult {
        margin: 0 2rem;
    }
}